* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-sofia {
  background-color: #eaeaea;
}

.h_50 {
  height: 50px;
}
.w_50 {
  width: 50px;
}

.bg_notifiche {
  background-color: #8edafc;
}

.color_text_notifiche {
  color: #8edafc;
}

.bg_text_area {
  background-image: url(img-bolzapp/mine.jpg);
}

.h_text_area {
  height: 675px;
}
.bg_green {
  background-color: #d5f9ba;
}
