* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-sofia {
  background-color: #eaeaea;
}

.h_50 {
  height: 50px;
}
.w_50 {
  width: 50px;
}

.bg_notifiche {
  background-color: #8edafc;
}

.color_text_notifiche {
  color: #8edafc;
}

.bg_text_area {
  background-image: url(img-bolzapp/mine.jpg);
}

.h_text_area {
  height: 625px;
}
.bg_green {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.bg_white {
  background-color: white;
  margin-left: 15px;
}

.c_p {
  cursor: pointer;
}

.position-absolute {
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-size: x-small;
}
.position-relative {
  position: relative;
}
